{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "V1-API"
  },
  "host": "vnext.book.3vrooms.app",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{mandator}/api/v1.0/reservation/abort": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancels the booking with the according tempadataContextId.",
        "operationId": "Bookings_Abort",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "tempdataContextId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/cancel": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancel a booking. (DE: Annullieren).\r\nE.g. PUT api/bookings/4/cancel?sendMail={sendMail}.",
        "operationId": "Bookings_Cancel",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sendMail",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cancelExchangeAppointment",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{maskedIdentifier}/cancel": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancel a booking. (DE: Annullieren).\r\nE.g. PUT api/bookings/092E2372-9A5E-4A4C-804A-32E451CD6FD2/cancel?sendMail={sendMail}.",
        "operationId": "Bookings_Cancel",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "maskedIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "sendMail",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/cancelSerie": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancel's the whole series of the given booking. If the booking is not part of a series a HttpResponseException is thrown.\r\nE.g. PUT api/bookings/4/cancelSerie?sendMail={sendMail}.",
        "operationId": "Bookings_CancelSerie",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sendMail",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "cancelExchangeAppointment",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/checkin": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Checkin the booking with the specific id.",
        "operationId": "Bookings_Checkin",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pin",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/checkout": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Terminates the booking with the specific id.\r\nE.g. PUT api/bookings/4/checkout?sendMail=false.",
        "operationId": "Bookings_Checkout",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sendMail",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/confirm": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Confirms a booking.",
        "operationId": "Bookings_Confirm",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "reservationEditModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationEditModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/copy/{bookingId}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Copies an existing booking.\r\nE.g. GET api/reservation/copy/4.",
        "operationId": "Bookings_Copy",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{ressourceId}": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Creates a new booking.\r\nE.g. POST api/bookings/4?end=2014-01-01 .",
        "operationId": "Bookings_Create",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ressourceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "directCheckIn",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/create": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Creates a booking.",
        "operationId": "Bookings_Create",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "reservationCreateModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationCreateModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateBookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/create/{gliederungId}/{standortId}": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Creates a booking based on first avaiable gliederungstyp and standort.",
        "operationId": "Bookings_Create",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "reservationCreateModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationCreateModel"
            }
          },
          {
            "name": "gliederungId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "standortId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateBookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/recurrence/create": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Create or update the series for a reservation depending the recurrence pattern.",
        "operationId": "Bookings_CreateSerieForReservation",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationCreateSerieModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SeriesItemDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/edit/{reservationId}": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Edits the booking. Creates a new tempdataContext and returns it's id.",
        "operationId": "Bookings_Edit",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingTempdataDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets the booking with the specific id.\r\nE.g. GET api/bookings/4.",
        "operationId": "Bookings_GetByReservationId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Extends an existing booking.\r\nE.g. PUT api/bookings/4?end=2014-01-01 .",
        "operationId": "Bookings_Extend",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/gliederung/{gliederungId}/klassifikation/{klassifikationId}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets the bookings with the specific id of the ressource and the end time.\r\nE.g. GET api/ressources/4/bookings?end=2013-06-25T14:00.N.",
        "operationId": "Bookings_GetBookingsByGliederungAndNotInKlassifikation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "gliederungId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "klassifikationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "excludePrivateBookings",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets all bookings within the specified daterange. Optionally you can limit the results to specific ressources / ressourcetypes and booking status.",
        "operationId": "Bookings_GetBookingsByStartAndEnd",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ressourceId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ressourceType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "statusId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/marker/{marker}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets the booking with the specific marker.\r\nE.g. GET api/bookings/marker/0B2749BB-FBCC-49AD-8D42-6B2D54895C70.",
        "operationId": "Bookings_GetByReservationMarker",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "marker",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources/{id}/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets the bookings with the specific id of the ressource and the end time.\r\nE.g. GET api/ressources/4/bookings?end=2013-06-25T14:00.",
        "operationId": "Bookings_GetByRessourceIdAndEnd",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/doorsigns/{id}/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets the bookings with the specific id of the doorsign and the end time.\r\nE.g. GET api/ressources/4/bookings?end=2013-06-25T14:00.",
        "operationId": "Bookings_GetDoorsignByRessourceIdAndEnd",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/ics/{maskedIdentifier}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancels the booking with the according tempadataContextId.",
        "operationId": "Bookings_GetIcs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "maskedIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/series/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Gets all active reservations from the requested series.\r\nIf the requested series does not exist, an empty list is returned.",
        "operationId": "Bookings_GetSeriesItemsFromBooking",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fromTempdataContext",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SeriesItemDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/tempbooking/{tempdataContextId}/{gliederungTypId}/{bookingId}/{culture}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get temp booking info based on tempdatacontextid and selected gleiderungtyp",
        "operationId": "Bookings_GetTempBooking",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "tempdataContextId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "gliederungTypId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TempBookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/noshow/{art}": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Marks a booking as no-show. After the bookings/{id}/noshow/ the type of the no-show can be added (Manually, Smartrooms, MissingCheckin).\r\nE.g. PUT api/bookings/4/noshow or api/bookings/4/noshow/Manually.",
        "operationId": "Bookings_NoShow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "art",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/release": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Releases the booking with the specific id.",
        "operationId": "Bookings_Release",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/bookings/{id}/removeRoom": {
      "patch": {
        "tags": [
          "Bookings"
        ],
        "summary": "Remove room from a booking, this moves the booking to a online resource.\r\nE.g. PATCH api/bookings/4/removeRoom",
        "operationId": "Bookings_RemoveRoom",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "applyToSerie",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/recurrence/delete": {
      "delete": {
        "tags": [
          "Bookings"
        ],
        "summary": "Remove the whole series created for a reservation in the tempdata context",
        "operationId": "Bookings_RemoveSeriesFromReservation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "tempdataContextId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/tempbooking/exists/{tempdataContextId}/{bookingId}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Determines wheather a tempdatacontext still exists",
        "operationId": "Bookings_TempBookingExists",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "tempdataContextId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/reservation/recurrence/update": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Update a single series item from the series contained in the tempdata context",
        "operationId": "Bookings_UpdateSeriesItem",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationUpdateSerieItemModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SeriesItemDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/calendar": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Gets all information the calendar needs.",
        "operationId": "Calendar_GetCalendar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "searchModel.anlassId",
            "in": "query",
            "description": "Gets or sets the AnlassId.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchModel.displayFullDay",
            "in": "query",
            "description": "Gets or sets the DisplayFullDay.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "searchModel.filtersettingId",
            "in": "query",
            "description": "Gets or sets the FiltersettingId.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchModel.from",
            "in": "query",
            "description": "Gets or sets the From.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "searchModel.id",
            "in": "query",
            "description": "Gets or sets the Id.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "searchModel.mode",
            "in": "query",
            "description": "Gets or sets the Mode.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "name": "searchModel.standortId",
            "in": "query",
            "description": "Gets or sets the StandortId.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "searchModel.to",
            "in": "query",
            "description": "Gets or sets the To.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarModel"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/calendar/delta": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Gets all information the calendar needs.",
        "operationId": "Calendar_GetCalendarDelta",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model.anlassId",
            "in": "query",
            "description": "Gets or sets the AnlassId.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.displayFullDay",
            "in": "query",
            "description": "Gets or sets the DisplayFullDay.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "model.filtersettingId",
            "in": "query",
            "description": "Gets or sets the FiltersettingId.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.from",
            "in": "query",
            "description": "Gets or sets the From.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "model.id",
            "in": "query",
            "description": "Gets or sets the Id.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "model.mode",
            "in": "query",
            "description": "Gets or sets the Mode.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "name": "model.standortId",
            "in": "query",
            "description": "Gets or sets the StandortId.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "model.to",
            "in": "query",
            "description": "Gets or sets the To.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RessourceDeltaModel"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/calendar/info": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Liefert die Werte des CalenderInfos.",
        "operationId": "Calendar_GetCalendarInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filtersettingId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarInfo"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/categories/search": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Returns all categories for a ressource type with a specific title (rights specific).",
        "operationId": "Category_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "resourceTypeId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/caterings/{personId}/{ressourceId}": {
      "get": {
        "tags": [
          "Catering"
        ],
        "summary": "Returns all orderable caterings.",
        "operationId": "Catering_GetCateringForPersonAndRessource",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ressourceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CateringDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/classifications/{id}": {
      "get": {
        "tags": [
          "Classification"
        ],
        "summary": "Get a classification by its id.",
        "operationId": "Classification_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClassificationDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/resources/{resourceId}/classifications": {
      "get": {
        "tags": [
          "Classification"
        ],
        "summary": "Returns all available classifications for a specific ressource.",
        "operationId": "Classification_GetClassificationsForResource",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ClassificationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/configuration": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Delivers all configuration data.",
        "operationId": "Configuration_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConfigurationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/configuration/bezeichnung/{bezeichnung}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Delivers configuration data for specific designation.",
        "operationId": "Configuration_GetByBezeichnung",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bezeichnung",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConfigurationDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/configuration/{id}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Delivers configuration data for specific id.",
        "operationId": "Configuration_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConfigurationDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/costunit/search": {
      "get": {
        "tags": [
          "CostUnit"
        ],
        "summary": "Returns all available seating options for a specific ressource.",
        "operationId": "CostUnit_SearchCostUnits",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KostentraegerDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/culture/list": {
      "get": {
        "tags": [
          "Culture"
        ],
        "summary": "Returns all available cultures.",
        "operationId": "Culture_GetAvailableCultures",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CultureDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/feiertag/{locationId}": {
      "get": {
        "tags": [
          "Feiertag"
        ],
        "summary": "Returns the opening hours for a location and date.",
        "operationId": "Feiertag_HasFeiertagAtLocationAtDate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/file/booking/{bookingId}/delete/{attachmentId}": {
      "delete": {
        "tags": [
          "File"
        ],
        "summary": "Removes a file from a booking.",
        "operationId": "File_DeleteFileForBooking",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fromTempdataContext",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AttachmentDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/file/booking/{id}/add": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Adds files to a booking.",
        "operationId": "File_UploadFileForBooking",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fromTempdataContext",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AttachmentDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/filtersetting/{listId}": {
      "get": {
        "tags": [
          "Filtersetting"
        ],
        "summary": "Gets the filtersetting based on the listId.\r\nE.g. GET api/filtersettings/43 .",
        "operationId": "Filtersetting_GetFiltersettingList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FiltersettingModel"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/locations/{locationId}/children": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns all immediate children of the given location.",
        "operationId": "Location_GetImmediateChildren",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/locations/{locationId}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns a location by its id.",
        "operationId": "Location_GetLocationById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocationDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/locations/leafs": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns all location that are leafs",
        "operationId": "Location_GetLocationLeafs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/locations/person/{personId}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns all bookable locations (rights specific).",
        "operationId": "Location_GetLocationsForPerson",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns all root locations.",
        "operationId": "Location_GetRoot",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/locations/search": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Returns all bookable locations with a specific location title (rights specific).",
        "operationId": "Location_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "skipResourceCheck",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/media/{entityType}/{id}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Returns the media for a specific entity.",
        "operationId": "Media_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/opening-hours/{locationId}": {
      "get": {
        "tags": [
          "OpeningHours"
        ],
        "summary": "Returns the opening hours for a location and date.",
        "operationId": "OpeningHours_GetLocationById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpeningHourDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/assigngroups": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Assigns all specified groups to all specified persons.",
        "operationId": "Person_AssignGroups",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personIds",
            "in": "body",
            "description": "A comma seperated list of external ids from persons.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "gruppeIds",
            "in": "query",
            "description": "A comma seperated list of unique ids from groups.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/passwordchange": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Change the current password of the specific forms logon with the new one",
        "operationId": "Person_ChangePassword",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordChangeModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/checkusername/{username}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Starts a new password reset request for a specific username.",
        "operationId": "Person_CheckUsername",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/disableaccount/{username}": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Disables the specified account.",
        "operationId": "Person_DisableAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/logonpin/{logonpin}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Gets a person by the logon-apikey.",
        "operationId": "Person_GetByPersonByLogonPin",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "logonpin",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/getaddress": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Returns all user created or modified in the specified time range.",
        "operationId": "Person_GetCreatedOrModifiedPersonen",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/getcreated": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Returns all user created in the specified time range.",
        "operationId": "Person_GetCreatedPersonen",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/getmodified": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Returns all user modified in the specified time range.",
        "operationId": "Person_GetModifiedPersonen",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/{id}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Gets a person by the person-id.",
        "operationId": "Person_GetPersonById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/{mail}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Gets a person by the mail.",
        "operationId": "Person_GetPersonByMail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mail",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/{personId}/resourcetypes": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Returns all resourcetypes which the given person is allowed to book.",
        "operationId": "Person_GetResourceTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "format": "int32",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/intelliboxperson/{personId}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Liefert die Person mit angebener Id als Json (PersonIntelliboxLightWeight).",
        "operationId": "Person_IntelliboxPersonId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonIntelliboxModel"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/mailconfirmed/{username}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Returns true whetever the mail for the given user is confirmed..",
        "operationId": "Person_IsMailConfirmed",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/password/confirm": {
      "put": {
        "tags": [
          "Person"
        ],
        "summary": "Sets the new password for an open password reset request.",
        "operationId": "Person_PasswordConfirm",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordResetConfirmDto"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/password/reset": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Starts a new password reset request for a specific username.",
        "operationId": "Person_PasswordReset",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordResetDto"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/register": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Register a new user in rooms",
        "operationId": "Person_Register",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/removelogon/{username}": {
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Removes the logon for a given person.",
        "operationId": "Person_RemoveLogon",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/search": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Method for searching people via a search term.",
        "operationId": "Person_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonIntelliboxModel"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/usergroup": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Method for searching people via a search term.",
        "operationId": "Person_SearchUsergroup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonIntelliboxModel"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/{personId}/syncsettings": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Liefert die Sync-Einstellungen für die übergebene Person.",
        "operationId": "Person_SyncSettings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/update": {
      "put": {
        "tags": [
          "Person"
        ],
        "summary": "Update all User according to PersonDto's.",
        "operationId": "Person_UpdatePersonen",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personen",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonDto"
              }
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/person/userinfo": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Gets a person by the person-id.",
        "operationId": "Person_UserInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/questionnaire/{bookingId}": {
      "get": {
        "tags": [
          "Questionnaire"
        ],
        "summary": "Get configured questionnaires for a booking.",
        "operationId": "Questionnaire_GetQuestionnairesForBooking",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "classificationIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionnaireDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources/{id}/dsconfig": {
      "get": {
        "tags": [
          "Ressources"
        ],
        "summary": "Gets the doorsign-configuration of the ressource with the specific id.\r\nE.g. GET api/ressources/4/dsconfig .",
        "operationId": "Ressources_DsConfig",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DsConfigurationDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources/ds/{locationId}": {
      "get": {
        "tags": [
          "Ressources"
        ],
        "summary": "Returns all resources available to the doorsign.",
        "operationId": "Ressources_GetAvailableResourceForDoorsign",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RessourceDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources/gliederungen/availability/{gliederungTypId}/{standortId}/{capacity}/{culture}": {
      "get": {
        "tags": [
          "Ressources"
        ],
        "summary": "Returns all bookable equipments (Gliederungen) for a specific User/Location.",
        "operationId": "Ressources_GetAvailableRoomsByGliederungsTyp",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "gliederungTypId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "standortId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "capacity",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "culture",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GliederungDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources/equipments/{personId}/{locationId}": {
      "get": {
        "tags": [
          "Ressources"
        ],
        "summary": "Returns all bookable equipments for a specific User/Location.",
        "operationId": "Ressources_GetEquipmentForPersonAndLocation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "beginn",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ende",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RessourceEquipmentDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources2/equipments/{personId}/{ressourceId}": {
      "get": {
        "tags": [
          "Ressources"
        ],
        "summary": "Returns all bookable equipments (Gliederungen) for a specific User/Location.",
        "operationId": "Ressources_GetEquipmentForPersonAndLocation2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ressourceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "beginn",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ende",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "bookingId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RessourceEquipmentDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v1.0/ressources3/equipments/{personId}/{locationId}": {
      "get": {
        "tags": [
          "Ressources"
        ],
        "summary": "Returns all bookable equipments (Gliederungen) for a specific User/Location.",
        "operationId": "Ressources_GetEquipmentForPersonAndLocation3",
        "consumes": [],
        "produces": [
          "application/json",
[...]
