{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "V2-API"
  },
  "host": "vnext.book.3vrooms.app",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{mandator}/api/v2.0/bookings/{tempdataContextId}/costs": {
      "get": {
        "tags": [
          "Bookings2"
        ],
        "summary": "Finds a booking with the specified filter.",
        "operationId": "Bookings2_CalculateCostsWithParams",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "tempdataContextId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "participantCount",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "organizerId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/bookings/count": {
      "get": {
        "tags": [
          "Bookings2"
        ],
        "summary": "Returns the booking count for the specified filter.",
        "operationId": "Bookings2_Count",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter.creatorId",
            "in": "query",
            "description": "The id of the creator of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.end",
            "in": "query",
            "description": "The End date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.isClaimedBooking",
            "in": "query",
            "description": "Filter bookings that are related to a personal resource.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter.lessonLessonIdList",
            "in": "query",
            "description": "The list of ids of lessons for the booking.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.lessonList",
            "in": "query",
            "description": "The list of lessons for the booking.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.location",
            "in": "query",
            "description": "The location for which we want to search bookings.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.modifiedOn",
            "in": "query",
            "description": "The End date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.organizerId",
            "in": "query",
            "description": "The id of the organizer of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.personInChargeId",
            "in": "query",
            "description": "The id of the person in charge of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.reservationId",
            "in": "query",
            "description": "The id of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.resourceId",
            "in": "query",
            "description": "The resource for which we want to search bookings.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.resourceName",
            "in": "query",
            "description": "The resource for which we want to search bookings.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.resourcetypeIds",
            "in": "query",
            "description": "Filter for the resourcetype.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "The Start date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.statusList",
            "in": "query",
            "description": "The list of states the booking.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/bookings/find": {
      "get": {
        "tags": [
          "Bookings2"
        ],
        "summary": "Finds a booking with the specified filter.",
        "operationId": "Bookings2_Find",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter.creatorId",
            "in": "query",
            "description": "The id of the creator of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.end",
            "in": "query",
            "description": "The End date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.isClaimedBooking",
            "in": "query",
            "description": "Filter bookings that are related to a personal resource.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter.lessonLessonIdList",
            "in": "query",
            "description": "The list of ids of lessons for the booking.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.lessonList",
            "in": "query",
            "description": "The list of lessons for the booking.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.location",
            "in": "query",
            "description": "The location for which we want to search bookings.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.modifiedOn",
            "in": "query",
            "description": "The End date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.organizerId",
            "in": "query",
            "description": "The id of the organizer of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.personInChargeId",
            "in": "query",
            "description": "The id of the person in charge of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.reservationId",
            "in": "query",
            "description": "The id of the booking.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.resourceId",
            "in": "query",
            "description": "The resource for which we want to search bookings.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.resourceName",
            "in": "query",
            "description": "The resource for which we want to search bookings.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.resourcetypeIds",
            "in": "query",
            "description": "Filter for the resourcetype.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "The Start date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.statusList",
            "in": "query",
            "description": "The list of states the booking.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/blockers/find": {
      "get": {
        "tags": [
          "Bookings2"
        ],
        "summary": "Finds all blockers (bookings, opening-hours, holidays and blocking times) with the specified filter.",
        "operationId": "Bookings2_FindBlockers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter.bookingIdToIgnore",
            "in": "query",
            "description": "Booking id to ignore",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.end",
            "in": "query",
            "description": "The End date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter.lang",
            "in": "query",
            "description": "Booking id to ignore",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.resourceId",
            "in": "query",
            "description": "The resource for which we want to search bookings.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.resourceIdIn",
            "in": "query",
            "description": "The resource for which we want to search bookings.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "The Start date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlockerDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/bookings/quickbooking": {
      "post": {
        "tags": [
          "Bookings2"
        ],
        "summary": "Creates a new booking with the data of the model.",
        "operationId": "Bookings2_QuickBooking",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "quickBookingModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuickBookingModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/bookings/{id}/update": {
      "put": {
        "tags": [
          "Bookings2"
        ],
        "summary": "Finds a booking with the specified filter.",
        "operationId": "Bookings2_Update",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bookingUpdateModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingUpdateModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BookingDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/job/create": {
      "post": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Creates a job according to the supplied JobDto.",
        "operationId": "Jobmanager_CreateJob",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "job",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDto"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/jobs/create": {
      "post": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Creates a job according to the supplied JobDto.",
        "operationId": "Jobmanager_CreateJobs",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "jobs",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JobDto"
              }
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/job/delete": {
      "put": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Deletes the job with the supplied JobId.",
        "operationId": "Jobmanager_DeleteJob",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "job",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDto"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/jobs/delete": {
      "put": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Deletes the job with the supplied JobId.",
        "operationId": "Jobmanager_DeleteJobs",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "jobs",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JobDto"
              }
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/jobs/find": {
      "get": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Get jobs modified in the given time range.",
        "operationId": "Jobmanager_FindJobs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JobDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/jobs/batches/{batchId}": {
      "get": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Get batch status.",
        "operationId": "Jobmanager_GetBatch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/jobs/batches": {
      "get": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Get all running/scheduled batches.",
        "operationId": "Jobmanager_GetBatches",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JobmanagerBatchStatusDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/job/update": {
      "put": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Updates a job according to the supplied JobDto.",
        "operationId": "Jobmanager_UpdateJob",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "job",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobDto"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/jobs/update": {
      "put": {
        "tags": [
          "Jobmanager"
        ],
        "summary": "Updates a job according to the supplied JobDto.",
        "operationId": "Jobmanager_UpdateJobs",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "jobs",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JobDto"
              }
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/maps/{locationId}/features": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get all map features for the given location",
        "operationId": "Maps_GetMapFeatures",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "Location from which the features should be loaded",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tempdataContextId",
            "in": "query",
            "description": "Optional, load data from tempdata context",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filtered",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MapFeatureDto"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Create a new feature for the given location",
        "operationId": "Maps_CreateMapFeature",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "Location which should contain this new feature",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "createFeature",
            "in": "body",
            "description": "Required informations about the new feature",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFeatureModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapFeatureDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/maps/{locationId}/features/{featureId}": {
      "delete": {
        "tags": [
          "Maps"
        ],
        "summary": "Delete a existing feature from the given location",
        "operationId": "Maps_DeleteMapFeature",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "Location which contains the feature",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "featureId",
            "in": "path",
            "description": "Id of the feature which should be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tempdataContextId",
            "in": "query",
            "description": "Optional, edit data in the tempdata context",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapFeatureDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/maps/{locationId}/image": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get the underlying map image for the given location",
        "operationId": "Maps_GetMapImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "Location from which the map should be loaded",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tempdataContextId",
            "in": "query",
            "description": "Optional, load data from tempdata context",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/maps/{bookingId}/statusimage": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Returns the status image for a booking.",
        "operationId": "Maps_GetStatusImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "The id of the booking.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/maps/{locationId}/features/{id}": {
      "patch": {
        "tags": [
          "Maps"
        ],
        "summary": "Update a existing feature",
        "operationId": "Maps_UpdateMapFeature",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "Location which contains this feature",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the existing feature",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updateFeature",
            "in": "body",
            "description": "Required information for the updating feature",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFeatureModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapFeatureDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/ressources/checkequipment": {
      "get": {
        "tags": [
          "Ressources2"
        ],
        "summary": "Checks if the given mobile equipment is available to a specific ressource (room).",
        "operationId": "Ressources2_CheckEquipment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model.end",
            "in": "query",
            "description": "The desired end date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "model.equipmentId",
            "in": "query",
            "description": "The desired equipment id (GliederungId).",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.locationId",
            "in": "query",
            "description": "The id of the loction of the desired ressource.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.start",
            "in": "query",
            "description": "The desired start date of the booking.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/ressources/available": {
      "post": {
        "tags": [
          "Ressources2"
        ],
        "summary": "Returns a list of available ressources filtered by the passed model.",
        "operationId": "Ressources2_FindAvailableRessource",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "findModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RessourceFindModel"
            }
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RessourceDto"
              }
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/ressources/{resourceId}/freebusy": {
      "get": {
        "tags": [
          "Ressources2"
        ],
        "summary": "Retrieves the free/busy data for a specified resource within a given time range,\r\nand returns the availability information as a binary string, where '1' indicates a busy interval and '0' indicates a free interval.\r\nThe method calculates the total number of time intervals within the given time range based on the specified interval.",
        "operationId": "Ressources2_Freebusy",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "The ID of the resource for which free/busy data is requested.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date and time of the time range to check.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date and time of the time range to check.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The length of each time interval in minutes (default is 15 minutes).",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FreeBusyDto"
            }
          }
        }
      }
    },
    "/{mandator}/api/v2.0/ressources/freebusy": {
      "get": {
        "tags": [
          "Ressources2"
        ],
        "summary": "Retrieves the free/busy data for the specified resources within a given time range,\r\nand returns the availability information as a binary string, where '1' indicates a busy interval and '0' indicates a free interval.\r\nThe method calculates the total number of time intervals within the given time range based on the specified interval.",
        "operationId": "Ressources2_Freebusy",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "resourceIds",
            "in": "query",
            "description": "The ID's of the resources for which the free/busy data is requested.",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date and time of the time range to check.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date and time of the time range to check.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The length of each time interval in minutes (default is 15 minutes).",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mandator",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FreeBusyDto"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BookingsFilter": {
      "description": "Filter for all find based booking operations.",
      "type": "object",
      "properties": {
        "creatorId": {
          "format": "int32",
          "description": "The id of the creator of the booking.",
          "type": "integer"
        },
        "end": {
          "format": "date-time",
          "description": "The End date of the booking.",
          "type": "string"
        },
        "isClaimedBooking": {
          "description": "Filter bookings that are related to a personal resource.",
          "type": "boolean"
        },
        "lessonLessonIdList": {
          "description": "The list of ids of lessons for the booking.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lessonList": {
          "description": "The list of lessons for the booking.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "location": {
          "description": "The location for which we want to search bookings.",
          "type": "string"
        },
        "modifiedOn": {
          "format": "date-time",
          "description": "The End date of the booking.",
          "type": "string"
        },
        "organizerId": {
          "format": "int32",
          "description": "The id of the organizer of the booking.",
          "type": "integer"
        },
        "personInChargeId": {
          "format": "int32",
          "description": "The id of the person in charge of the booking.",
          "type": "integer"
        },
        "reservationId": {
          "format": "int32",
          "description": "The id of the booking.",
          "type": "integer"
        },
        "resourceId": {
          "format": "int32",
          "description": "The resource for which we want to search bookings.",
          "type": "integer"
        },
        "resourceName": {
          "description": "The resource for which we want to search bookings.",
          "type": "string"
        },
        "resourcetypeIds": {
          "description": "Filter for the resourcetype.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "start": {
          "format": "date-time",
          "description": "The Start date of the booking.",
          "type": "string"
        },
        "statusList": {
          "description": "The list of states the booking.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "BookingDto": {
      "type": "object",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AnswerDto"
          }
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentDto"
          }
        },
        "begin": {
          "format": "date-time",
          "type": "string"
        },
        "beginPreparation": {
          "format": "date-time",
          "type": "string"
        },
        "cateringCosts": {
          "format": "double",
          "type": "number"
        },
        "cateringList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CateringDto"
          }
        },
        "checkinConfirmed": {
          "type": "boolean"
        },
        "checkinFollowupTime": {
          "format": "date-time",
          "type": "string"
        },
        "checkinLeadTime": {
          "format": "date-time",
          "type": "string"
        },
        "classificationValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClassificationValueDto"
          }
        },
        "comment": {
          "type": "string"
        },
        "costUnits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KostentraegerDto"
          }
        },
        "currency": {
          "type": "string"
        },
        "doorman": {
          "$ref": "#/definitions/DoormanDto"
        },
        "end": {
          "format": "date-time",
          "type": "string"
        },
        "endFollowUp": {
          "format": "date-time",
          "type": "string"
        },
        "equipmentCosts": {
          "format": "double",
          "type": "number"
        },
        "equipmentList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EquipmentDto"
          }
        },
        "fieldDescriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldDescription"
          }
        },
        "fieldValues": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "firstFutureSerieBookingId": {
          "format": "int32",
          "type": "integer"
        },
        "headCount": {
          "format": "int32",
          "type": "integer"
        },
        "externalHeadCount": {
          "format": "int32",
          "type": "integer"
        },
        "hierarchicalLocation": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isBlockingTime": {
          "type": "boolean"
        },
        "isClaimedResourceBooking": {
          "type": "boolean"
        },
        "isFirstSerieItem": {
          "type": "boolean"
        },
        "isNewBooking": {
          "type": "boolean"
        },
        "isTeamsMeeting": {
          "type": "boolean"
        },
        "istPrivat": {
          "type": "boolean"
        },
        "kostenTotal": {
          "type": "string"
        },
        "lessonId": {
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "type": "string"
        },
        "maskedIdentifier": {
          "type": "string"
        },
        "modifiedOn": {
          "format": "date-time",
          "type": "string"
        },
        "organizerCompany": {
          "type": "string"
        },
        "organizerId": {
          "format": "int32",
          "type": "integer"
        },
        "organizerMail": {
          "type": "string"
        },
        "organizerName": {
          "type": "string"
        },
        "participantDtoList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParticipantDto"
          }
        },
        "personInChargeId": {
          "format": "int32",
          "type": "integer"
        },
        "personInChargeMail": {
          "type": "string"
        },
        "personInChargeName": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        },
        "questionnaires": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuestionnaireDto"
          }
        },
        "resource": {
          "$ref": "#/definitions/RessourceDto"
        },
        "resourceCosts": {
          "format": "double",
          "type": "number"
        },
        "resourcetype": {
          "format": "int32",
          "type": "integer"
        },
        "ressourceDescription": {
          "type": "string"
        },
        "ressourceId": {
          "format": "int32",
          "type": "integer"
        },
        "ressourceIdList": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "seating": {
          "$ref": "#/definitions/SeatingDto"
        },
        "seatingCapacity": {
          "type": "string"
        },
        "seatingCosts": {
          "format": "double",
          "type": "number"
        },
        "seatingDescription": {
          "type": "string"
        },
        "seatingHasImage": {
          "type": "boolean"
        },
        "seatingId": {
          "format": "int32",
          "type": "integer"
        },
        "serienId": {
          "format": "int32",
          "type": "integer"
        },
        "series": {
          "$ref": "#/definitions/SeriesDto"
        },
        "status": {
          "type": "string"
        },
        "statusDto": {
          "$ref": "#/definitions/StatusDto"
        },
        "subReservations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BookingDto"
          }
        },
        "subTitle": {
          "type": "string"
        },
        "syncAppointmentOid": {
          "type": "string"
        },
        "syncedToExchangeSerieItem": {
          "type": "boolean"
        },
        "teamsMeetingInfo": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "totalCosts": {
          "format": "double",
          "type": "number"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AnswerDto": {
      "type": "object",
      "properties": {
        "questionId": {
          "format": "int32",
          "type": "integer"
        },
        "reservationId": {
          "format": "int32",
          "type": "integer"
        },
        "text": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AttachmentDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CateringDto": {
      "type": "object",
      "properties": {
        "amount": {
          "format": "int32",
          "type": "integer"
        },
        "angebotId": {
          "format": "int32",
          "type": "integer"
        },
        "automatic": {
          "format": "int32",
          "type": "integer"
        },
        "categoryDesignation": {
          "type": "string"
        },
        "categoryId": {
          "format": "int32",
          "type": "integer"
        },
        "currency": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "designation": {
          "type": "string"
        },
        "hasImage": {
          "type": "boolean"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "offeringZoneOfferingId": {
          "format": "int32",
          "type": "integer"
        },
        "openAmount": {
          "type": "boolean"
        },
        "packetId": {
          "format": "int32",
          "type": "integer"
        },
        "preparationTime": {
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "selectedAmount": {
          "format": "int32",
          "type": "integer"
        },
        "sortierung": {
          "format": "int32",
          "type": "integer"
        },
        "timeRequired": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ClassificationValueDto": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string"
        },
        "classificationId": {
          "format": "int32",
          "type": "integer"
        },
        "colorCode": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "sortOrder": {
          "format": "int32",
          "type": "integer"
        },
        "typeCaption": {
          "type": "string"
        },
        "typeSortOrder": {
          "format": "int32",
          "type": "integer"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "KostentraegerDto": {
      "type": "object",
      "properties": {
        "anteil": {
          "format": "double",
          "type": "number"
        },
        "beschreibung": {
          "type": "string"
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KostentraegerDto"
          }
        },
        "geschaeftsbereich": {
          "type": "string"
        },
        "hasChildrenAvailable": {
          "type": "boolean"
        },
        "istVerrechenbar": {
          "type": "boolean"
        },
        "nummer": {
          "type": "string"
        },
        "parentId": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DoormanDto": {
      "type": "object",
      "properties": {
        "doorStatus": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EquipmentDto": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "gliederungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RessourceEquipmentGliederungDto"
          }
        },
        "hasImage": {
          "type": "boolean"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FieldDescription": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object"
        },
        "isHidden": {
          "type": "boolean"
        },
        "isReadonly": {
          "type": "boolean"
        },
        "isRequired": {
          "type": "boolean"
        },
        "label": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ParticipantDto": {
      "type": "object",
      "properties": {
        "eMail": {
          "type": "string"
        },
        "isExternal": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "QuestionnaireDto": {
      "type": "object",
      "properties": {
        "designation": {
          "type": "string"
        },
        "questions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuestionDto"
          }
        },
        "sorting": {
          "format": "int32",
          "type": "integer"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RessourceDto": {
      "type": "object",
      "properties": {
        "addinVisibility": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentDto"
          }
        },
        "bookingsCount": {
          "format": "int32",
          "type": "integer"
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        },
        "categoryItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryItemDto"
          }
        },
        "checkinEnabled": {
          "type": "boolean"
        },
        "currency": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "followUpDuration": {
          "format": "int32",
          "type": "integer"
        },
        "hasAnzahlPersonenBasedTarif": {
          "type": "boolean"
        },
        "hasCateringAvailable": {
          "type": "boolean"
        },
        "hasImage": {
          "type": "boolean"
        },
        "hierarchicalDescription": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "infoUrl": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "locationDescription": {
          "type": "string"
        },
        "locationId": {
          "format": "int32",
          "type": "integer"
        },
        "maskedIdentifier": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "maxCapacity": {
          "format": "int32",
          "type": "integer"
        },
        "metadata": {
          "type": "object"
        },
        "minCapacity": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "preparationDuration": {
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "priority": {
          "type": "string"
        },
        "realDescription": {
          "type": "string"
        },
        "resourceType": {
          "format": "int32",
          "type": "integer"
        },
        "standardCapacity": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "totalCosts": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SeatingDto": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "designation": {
          "type": "string"
        },
        "hasImage": {
          "type": "boolean"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "isStandard": {
          "type": "boolean"
        },
        "maxAmountPersons": {
          "format": "int32",
          "type": "integer"
        },
        "minAmountPersons": {
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "style": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SeriesDto": {
      "type": "object",
      "properties": {
        "dayInMonth": {
          "format": "int32",
          "type": "integer"
        },
        "days": {
          "type": "array",
          "items": {
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "type": "integer"
          }
        },
        "description": {
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "type": "string"
        },
        "everyWeekDay": {
          "type": "boolean"
        },
        "hasEndDate": {
          "type": "boolean"
        },
        "interval": {
          "format": "int32",
          "type": "integer"
        },
        "monthOfYear": {
          "format": "int32",
          "type": "integer"
        },
        "occurences": {
          "format": "int32",
          "type": "integer"
        },
        "recurrenceType": {
          "type": "string"
        },
        "weekNumber": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "StatusDto": {
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RessourceEquipmentGliederungDto": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "designation": {
          "type": "string"
        },
        "hasImage": {
          "type": "boolean"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "price": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "QuestionDto": {
      "type": "object",
      "properties": {
        "designation": {
          "type": "string"
        },
        "editableUntil": {
          "format": "int32",
          "type": "integer"
        },
        "info": {
          "$ref": "#/definitions/QuestionInfoDto"
        },
        "infoText": {
          "type": "string"
        },
        "isRequired": {
          "type": "boolean"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuestionOptionDto"
          }
        },
        "requiredUntil": {
          "format": "int32",
          "type": "integer"
        },
        "sorting": {
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "uniqueKey": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CategoryItemDto": {
      "type": "object",
      "properties": {
        "categoryId": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "typeName": {
          "type": "string"
        },
        "typeVisible": {
          "type": "boolean"
        }
      }
    },
    "QuestionInfoDto": {
      "type": "object",
      "properties": {
        "isReadonly": {
          "type": "boolean"
        },
        "isRequired": {
          "type": "boolean"
        }
      }
    },
    "QuestionOptionDto": {
      "type": "object",
      "properties": {
        "designation": {
          "type": "string"
        },
        "questionId": {
          "format": "int32",
          "type": "integer"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BlockersFilter": {
      "description": "Filter for all find based booking operations.",
      "type": "object",
      "properties": {
        "bookingIdToIgnore": {
          "format": "int32",
          "description": "Booking id to ignore",
          "type": "integer"
        },
        "end": {
          "format": "date-time",
          "description": "The End date of the booking.",
          "type": "string"
        },
        "lang": {
          "description": "Booking id to ignore",
          "type": "string"
        },
        "resourceId": {
          "format": "int32",
          "description": "The resource for which we want to search bookings.",
          "type": "integer"
        },
        "resourceIdIn": {
          "description": "The resource for which we want to search bookings.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "start": {
          "format": "date-time",
          "description": "The Start date of the booking.",
          "type": "string"
        }
      }
    },
    "BlockerDto": {
      "type": "object",
      "properties": {
        "blockerType": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "bookingId": {
          "format": "int32",
          "type": "integer"
        },
        "end": {
          "format": "date-time",
          "type": "string"
        },
        "istPrivat": {
          "format": "int32",
          "type": "integer"
        },
        "resourceId": {
          "format": "int32",
          "type": "integer"
        },
        "start": {
          "format": "date-time",
          "type": "string"
        },
        "statusId": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "QuickBookingModel": {
      "description": "Model used for a quick booking.",
      "type": "object",
      "properties": {
        "comment": {
          "description": "Holds the additional comment.",
          "type": "string"
        },
        "end": {
          "format": "date-time",
          "description": "End of the booking.",
          "type": "string"
        },
        "equipmentList": {
          "description": "Holds the additional bookable Equipment (GliederungId).",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EquipmentDto"
          }
        },
        "headCount": {
          "format": "int32",
          "description": "The amount of people.",
          "type": "integer"
        },
        "isPrivate": {
          "description": "Flag, ig this booking is private or not.",
          "type": "boolean"
        },
        "participantList": {
          "description": "Holds the additional participants.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParticipantDto"
          }
        },
        "ressourceId": {
          "format": "int32",
          "description": "The id of the desired ressource.",
          "type": "integer"
        },
        "start": {
          "format": "date-time",
          "description": "Start of the booking.",
          "type": "string"
        },
        "title": {
          "description": "The title of the booking.",
          "type": "string"
        }
      }
    },
    "BookingUpdateModel": {
      "description": "Model used for update a booking.",
      "type": "object",
      "properties": {
        "applyTempChangesToSeries": {
          "description": "True if the changes should also be applied to all series items.",
          "type": "boolean"
        },
        "bestellungItems": {
          "description": "Hält die gewünschten BestellungItems.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BestellungItem"
          }
        },
        "classificationIds": {
          "description": "Assigned classifikcationId's of the booking.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "comment": {
          "description": "The comment of the booking..",
          "type": "string"
        },
        "costUnits": {
          "description": "CostUnits of the booking.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/KostentraegerDto"
          }
        },
        "creatorId": {
          "format": "int32",
          "description": "The id of the creator.",
          "type": "integer"
        },
        "customFields": {
          "description": "Custom fields which will be added to an entity model.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "end": {
          "format": "date-time",
          "description": "End of the booking.",
          "type": "string"
        },
        "gliederungEquipment": {
          "description": "Hält das mitzubuchende Equipment (GliederungId, Anzahl).",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "organizerId": {
          "format": "int32",
          "description": "The id of the organizer.",
          "type": "integer"
        },
        "participantCount": {
          "format": "int32",
          "description": "The participant count of the booking.",
          "type": "integer"
        },
        "externalParticipantCount": {
          "format": "int32",
          "description": "The external participant count of the booking.",
          "type": "integer"
        },
        "resourceId": {
          "format": "int32",
          "description": "The new resource of the booking.",
          "type": "integer"
        },
        "seatingId": {
          "format": "int32",
          "description": "THe new seating id of the booking.",
          "type": "integer"
        },
        "start": {
          "format": "date-time",
          "description": "Start of the booking.",
          "type": "string"
        },
        "title": {
          "description": "The new title of the booking.",
          "type": "string"
        },
        "useTempdataContext": {
          "description": "True if the booking is being edited.",
          "type": "boolean"
        }
      }
    },
    "BestellungItem": {
      "type": "object",
      "properties": {
        "angebotszoneAngebotId": {
          "format": "int32",
          "type": "integer"
        },
        "bezeichnung": {
          "type": "string"
        },
        "dienstleister": {
          "type": "string"
        },
        "gesamtpreis": {
          "$ref": "#/definitions/Kosten"
        },
        "istOffeneMenge": {
          "type": "boolean",
          "readOnly": true
        },
        "liefertermin": {
          "format": "date-time",
          "type": "string"
        },
        "menge": {
          "format": "int32",
          "type": "integer"
        },
        "notiz": {
          "type": "string"
        },
        "preisProEinheit": {
          "$ref": "#/definitions/Kosten"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Kosten": {
      "type": "object",
      "properties": {
        "betrag": {
          "format": "double",
          "type": "number"
        },
        "isEmpty": {
          "type": "boolean",
          "readOnly": true
        },
        "rate": {
          "$ref": "#/definitions/Rate"
        },
        "waehrung": {
          "type": "string"
        }
      }
    },
    "Rate": {
      "type": "object",
      "properties": {
        "tarifBezeichnung": {
          "type": "string"
        },
        "tarifId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "JobDto": {
      "type": "object",
      "properties": {
        "jobID": {
          "type": "string"
        },
        "lektionList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LektionDto"
          }
        }
      }
    },
    "LektionDto": {
      "type": "object",
      "properties": {
        "aenderungsdatum": {
          "format": "date-time",
          "type": "string"
        },
        "akadPeriode": {
          "type": "string"
        },
        "anlasstyp": {
          "type": "string"
        },
        "anzahlPersonen": {
          "format": "int32",
          "type": "integer"
        },
        "beginn": {
          "format": "date-time",
          "type": "string"
        },
        "customField": {
          "$ref": "#/definitions/CustomFieldDto"
        },
        "dozierende": {
          "type": "string"
        },
        "ende": {
          "format": "date-time",
          "type": "string"
        },
        "geplantePersonen": {
          "format": "int32",
          "type": "integer"
        },
        "gruppierung": {
          "type": "string"
        },
        "institut": {
          "type": "string"
        },
        "kommentar": {
          "type": "string"
        },
        "kostentraegerGeschaeftsbereich": {
          "type": "string"
        },
        "kostentraegerNummer": {
          "type": "string"
        },
        "lektionId": {
          "type": "string"
        },
        "personen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobPersonDto"
          }
        },
        "personMail": {
          "type": "string"
        },
        "referenzveranstaltung": {
          "type": "string"
        },
        "ressourceName": {
          "type": "string"
        },
        "ressourceType": {
          "type": "string"
        },
        "serienArt": {
          "type": "string"
        },
        "standortName": {
          "type": "string"
        },
        "veranstaltungsPrio": {
          "format": "int32",
          "type": "integer"
        },
        "verantwortlicherMail": {
          "type": "string"
        }
      }
    },
    "CustomFieldDto": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobPersonDto": {
      "type": "object",
      "properties": {
        "externalID": {
          "type": "string"
        },
        "typ": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "JobmanagerBatchStatusDto": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "string"
        },
        "errorMessages": {
          "type": "string"
        },
        "importStatus": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "lessonCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CreateFeatureModel": {
      "description": "Model used for feature creation",
      "type": "object",
      "properties": {
        "coordinates": {
          "description": "Feature coordinates",
          "type": "string"
        },
        "geomType": {
          "description": "Feature geometry type",
          "type": "string"
        },
        "locationLinkId": {
          "format": "int32",
          "description": "Feature link to location",
          "type": "integer"
        },
        "resourceLinkId": {
          "format": "int32",
          "description": "Feature link to resource",
          "type": "integer"
        },
        "roomUnitLinkId": {
          "format": "int32",
          "description": "Feature link to room unit",
          "type": "integer"
        },
        "tempdataContextId": {
          "format": "int32",
          "description": "Id of the tempdata context to be used",
          "type": "integer"
        }
      }
    },
    "MapFeatureDto": {
      "type": "object",
      "properties": {
        "availabilityColor": {
          "type": "string"
        },
        "blockerColor": {
          "type": "string"
        },
        "blockerTitle": {
          "type": "string"
        },
        "bookingCheckedIn": {
          "type": "boolean"
        },
        "bookingId": {
          "format": "int32",
          "type": "integer"
        },
        "bookingParentId": {
          "format": "int32",
          "type": "integer"
        },
        "bookingStatusId": {
          "format": "int32",
          "type": "integer"
        },
        "color": {
          "type": "string"
        },
        "coordinates": {
          "type": "string"
        },
        "geomType": {
          "type": "string"
        },
        "locationId": {
          "format": "int32",
          "type": "integer"
        },
        "locationLinkId": {
          "format": "int32",
          "type": "integer"
        },
        "resourceLinkCheckinEnabled": {
          "type": "boolean"
        },
        "resourceLinkId": {
          "format": "int32",
          "type": "integer"
        },
        "resourceLinkType": {
          "format": "int32",
          "type": "integer"
        },
        "roomUnitLinkId": {
          "format": "int32",
          "type": "integer"
        },
        "tooltip": {
          "type": "string"
        },
        "messageList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "UpdateFeatureModel": {
      "description": "Model used for feature updates",
      "type": "object",
      "properties": {
        "coordinates": {
          "description": "Feature coordinates",
          "type": "string"
        },
        "tempdataContextId": {
          "format": "int32",
          "description": "Id of the tempdata context to be used",
          "type": "integer"
        }
      }
    },
    "CheckEquipmentModel": {
      "description": "Filter model used to for the check equipment action.",
      "type": "object",
      "properties": {
        "end": {
          "format": "date-time",
          "description": "The desired end date of the booking.",
          "type": "string"
        },
        "equipmentId": {
          "format": "int32",
          "description": "The desired equipment id (GliederungId).",
          "type": "integer"
        },
        "locationId": {
          "format": "int32",
          "description": "The id of the loction of the desired ressource.",
          "type": "integer"
        },
        "start": {
          "format": "date-time",
          "description": "The desired start date of the booking.",
          "type": "string"
        }
      }
    },
    "RessourceFindModel": {
      "type": "object",
      "properties": {
        "allSeatings": {
          "type": "boolean"
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        },
        "categoryList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EquipmentDto"
          }
        },
        "end": {
          "format": "date-time",
          "type": "string"
        },
        "equipmentList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EquipmentDto"
          }
        },
        "filterOpeningHours": {
          "type": "boolean"
        },
        "gliederungenList": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "includeCosts": {
          "type": "boolean"
        },
        "locationId": {
          "format": "int32",
          "type": "integer"
        },
        "locationIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "orderByReservationCount": {
          "type": "boolean"
        },
        "pageIndex": {
          "format": "int32",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "resourcetypeId": {
          "format": "int32",
          "type": "integer"
        },
        "seatingIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "start": {
          "format": "date-time",
          "type": "string"
        },
        "withBookableFromAddin": {
          "type": "boolean"
        }
      }
    },
    "FreeBusyDto": {
      "type": "object",
      "properties": {
        "freeBusyData": {
          "type": "string"
        },
        "resourceId": {
          "format": "int32",
          "type": "integer"
        }
      }
    }
  }
}